<!-- todo_list/todo_app/templates/todo_app/todoitem_form.html -->
{% extends "base.html" %}

{% block content %}

<div class="card w-50 mx-auto border-primary">
    <div class="card-header text-center">
        <h3 class="px-4 text-center">{{ title }} in {{todo_list.title}}</h3>
    </div>
    <form method="post" class="m-4">
        {% csrf_token %}
        <table class="p-4">
            {{ form.as_table }}
        </table>
        <input
            value="Submit"
            type="submit"
            class="btn btn-primary">
        <input
            value="Cancel"
            type="button"
            class="btn btn-danger"
            onclick="location.href='{% url "list" todo_list.id %}'">
        {% if object %}
            <input
                value="Delete this item"
                type="button"
                class="btn btn-danger"
                onclick="location.href='{% url "item-delete" todo_list.id object.id %}'">
        {% endif %}
    </form>
</div>
{% endblock %}