<!-- todo_list/todo_app/templates/todo_app/todolist_form.html -->
{% extends "base.html" %}

{% block content %}

<h3 class="px-4">{{ title }}</h3>
<div>
    <div>
        <form method="post" class="px-4">
            {% csrf_token %}
            {{ form.as_p }}
            <input
                value="Save"
                type="submit"
                class="btn btn-primary">
            <input
                value="Cancel"
                type="button"
                class="btn btn-danger"
                onclick="location.href='{% url "index" %}';">
        </form>
    </div>
</div>

{% endblock %}