<!-- todo_list/todo_app/templates/todo_app/todoitem_confirm_delete.html -->
{% extends "base.html" %}

{% block content %}

<h3 class="px-4">Delete To-do Item</h3>

<p class="px-4">Are you sure you want to delete the item: <b>{{ object.title }}</b>
   from the list <i>{{ todo_list.title }}</i>?</p>

<form method="POST" class="px-4">
    {% csrf_token %}
    <input
        value="Yes, delete."
        type="submit"
        class="btn btn-primary">

    <input
        value="Cancel"
        type="button"
        class="btn btn-danger"
        onclick="location.href='{% url "list" todo_list.id %}';">
</form>

{% endblock %}